
 body{
  font-family: "Tagesschrift", system-ui;
  font-weight: 100;
  font-style: normal;
  font-size: 2em;
} 

#butts
{
    font-size:2.5em;
    padding: 5px 25px;
    border-radius: 5px;

}
#btn
{
    text-align: center;
}

#mylabel
{
    font-size: 3em;
    display: block;
    text-align: center;
}

